In [1]:
import pickle
import pandas as pd

In [2]:
file_path = 'train_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_train = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [3]:
df_train['label'].value_counts()

label
0    14397
1     5004
Name: count, dtype: int64

In [4]:
file_path = 'test_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_test = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [5]:
df_test['label'].value_counts()

label
0    4406
1    1341
Name: count, dtype: int64

In [6]:
file_path = 'val_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_val = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [7]:
df_val['label'].value_counts()

label
0    4334
1    1326
Name: count, dtype: int64

In [8]:
df_train['length'] = df_train['content'].apply(lambda x: len(x))
df_test['length'] = df_test['content'].apply(lambda x: len(x))
df_val['length'] = df_val['content'].apply(lambda x: len(x))

In [9]:
df = pd.concat([df_train, df_test, df_val], axis=0)
df['label'] = df['label'].apply(lambda x: int(x))
df = df[df['label'] == 0]
df.drop(['comments', 'category', 'length'], axis=1, inplace=True)
df.reset_index(inplace=True)
df.drop(['index'], axis=1, inplace=True)

In [10]:
df['label'].value_counts()

label
0    23137
Name: count, dtype: int64

In [11]:
print(14397+4406+4334)

23137

In [12]:
len(df)

23137

In [13]:
df.to_csv('df_Fake_Arxiv.csv')

In [14]:
df['length'] = df['content'].apply(lambda x:len(x))

In [15]:
df

                                                 content  label  length
0      Source: Angela George/CC BY-SA 3.0\n\nOne of m...      0    6776
1      "He gave them details of what may have occurre...      0     281
2      Like their respectively memorable characters i...      0    2217
3      A cursory glance at the Spring ’16 collections...      0    2241
4      Liza Weil and Paul Adelstein’s divorce has bee...      0    1268
...                                                  ...    ...     ...
23132  Yeah. I was definitely seeing this. A substant...      0     272
23133  The World Health Organization (WHO) is working...      0    1062
23134  "We must all learn to control and manage this ...      0     201
23135  What’s the relationship between low levels of ...      0     142
23136  There is a need to ensure access to controlled...      0     244

[23137 rows x 3 columns]