In [23]:
import pickle
import pandas as pd

In [24]:
file_path = 'train_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_train = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [25]:
df_train['label'].value_counts()

label
0    14397
1     5004
Name: count, dtype: int64

In [26]:
file_path = 'test_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_test = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [27]:
df_test['label'].value_counts()

label
0    4406
1    1341
Name: count, dtype: int64

In [28]:
file_path = 'val_Uncleaned_ARXIV.pkl'

with open(file_path, 'rb') as file:
    loaded_data = pickle.load(file)
    
df_val = loaded_data.drop(['content_emotion', 'comments_emotion', 'emotion_gap', 'style_feature'], axis=1)

In [29]:
df_val['label'].value_counts()

label
0    4334
1    1326
Name: count, dtype: int64

In [30]:
df = pd.concat([df_train, df_test, df_val], axis=0)
df['label'] = df['label'].apply(lambda x: int(x))
df.drop(['comments', 'category'], axis=1, inplace=True)
df_true = df[df['label'] == 1]
df_false = df[df['label'] == 0]
df_true.reset_index(inplace=True)
#df_true.drop(['index'], axis=1, inplace=True)
df_false.reset_index(inplace=True)
#df_false.drop(['index'], axis=1, inplace=True)

In [31]:
df_true['label'].value_counts()

label
1    7671
Name: count, dtype: int64

In [32]:
df_false['label'].value_counts()

label
0    23137
Name: count, dtype: int64

In [33]:
df_true

      index                                            content  label
0     10150  Star magazine has released an explosive report...      1
1     10151  Those heels were cute, but they didn't last lo...      1
2     10152  \n\nJessica Simpson‘s beloved dog, Daisy, was ...      1
3     10153  Brad Pitt and Angelina Jolie. Photo: Getty Ima...      1
4     10154  Despite looking super loved up at the Academy ...      1
...     ...                                                ...    ...
7666   5643   Uncomfortable truth bombs comin’ at ya  #science      1
7667   5646  Secretary Carlito Galvez, Jr., Chief Implement...      1
7668   5656  اٹلی کی صورت حال دیکھ لیجئے۔ ڈریں اس وقت سے او...      1
7669   5658  This map shows COVID-19 cases reported by U.S....      1
7670   5659  New Wisconsin Governor Tony Evers is wasting n...      1

[7671 rows x 3 columns]

In [34]:
df_false

       index                                            content  label
0          0  Source: Angela George/CC BY-SA 3.0\n\nOne of m...      0
1          1  "He gave them details of what may have occurre...      0
2          2  Like their respectively memorable characters i...      0
3          3  A cursory glance at the Spring ’16 collections...      0
4          4  Liza Weil and Paul Adelstein’s divorce has bee...      0
...      ...                                                ...    ...
23132   5652  Yeah. I was definitely seeing this. A substant...      0
23133   5653  The World Health Organization (WHO) is working...      0
23134   5654  "We must all learn to control and manage this ...      0
23135   5655  What’s the relationship between low levels of ...      0
23136   5657  There is a need to ensure access to controlled...      0

[23137 rows x 3 columns]

In [35]:
df_true.drop(['index'], axis=1, inplace=True)

C:\Users\bishe\AppData\Local\Temp\ipykernel_5280\2297617362.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_true.drop(['index'], axis=1, inplace=True)

In [36]:
df_true.columns

Index(['content', 'label'], dtype='object')

In [37]:
df_false.drop(['index'], axis=1, inplace=True)

C:\Users\bishe\AppData\Local\Temp\ipykernel_5280\680335724.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_false.drop(['index'], axis=1, inplace=True)

In [38]:
df_false.columns

Index(['content', 'label'], dtype='object')

In [39]:
df_true.shape

(7671, 2)

In [40]:
df_false.shape

(23137, 2)

In [41]:
df_true.to_csv('df_True_Arxiv.csv')
df_false.to_csv('df_Fake_Arxiv.csv')